@model CRM.Models.Client

@{
    ViewData["Title"] = "Details";

    var stageClasses = new Dictionary<string, string>
    {
        { "Pre-Enquiry", "stage-pre-enquiry" },
        { "First-Followup", "stage-1st-followup" },
        { "Second-Followup", "stage-2nd-followup" },
        { "Negotiation", "stage-negotiation" },
        { "Approved", "stage-won" },
        { "Lost", "stage-loss" }
    };

    string stageClass = stageClasses.ContainsKey(Model.ClientStatus.StageName)
        ? stageClasses[Model.ClientStatus.StageName]
        : "";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background: radial-gradient(rgba(0, 0, 0, 0.3), transparent);
        }

        .client-info {
            margin-left: 15px;
            margin-top: 30px;
        }

        .heading {
            margin-right: 27px;
            margin-left: 15px;
            padding-top: 15px;
            display: flex;
            justify-content: space-between;
        }

            .heading span {
                font-weight: bold;
            }

        .company-name {
            margin-left: 15px;
        }

        .client-container {
            background-color: whitesmoke;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
        }

            .client-container .actions {
                display: flex;
                justify-content: flex-end;
                margin-right: 15px;
                padding: 20px;
            }

        .actions .btn-custom.btn-primary span,
        .actions .btn-custom.btn-secondary span {
            color: white;
        }

        .stage span {
            font-family: 'Arial', sans-serif;
            font-size: 12px !important;
            text: white !important;
            font-weight: normal;
            text-transform: uppercase;
            padding: 5px 10px;
            border-radius: 4px !important;
        }

        .company-name span {
            font-family: 'Arial', sans-serif;
            font-size: 14px !important;
            color: black !important;
            font-weight: bold;
        }

        .actions .btn span {
            color: white;
            font-weight: normal;
        }

        .client-container dt {
            font-family: 'Arial', sans-serif;
            font-size: 12px !important;
            color: black !important;
            font-weight: bold;
        }

        .client-container dd {
            font-family: 'Arial', sans-serif;
            font-size: 12px !important;
            color: black !important;
        }

        .stage-pre-enquiry {
            background-color: teal; /* Light Gray */
        }

        .stage-1st-followup {
            background-color: peru; /* Light Blue */
        }

        .stage-2nd-followup {
            background-color: coral; /* Light Green */
        }

        .stage-negotiation {
            background-color: orange; /* Orange */
        }

        .stage-won {
            background-color: #008000; /* Green */
        }

        .stage-loss {
            background-color: #FF0000; /* Red */
        }

        .activity .btn-custom {
            font-size: 12px;
            padding: 5px 10px;
        }

        .activity .btn-primary {
            background-color: #008094; /* Bootstrap primary color */
        }

        .activity .btn-secondary {
            background-color: #008094;
        }

        .btn-custom {
            font-size: 12px;
            padding: 5px 10px;
        }

        /* Custom styling for Assign Manager button */
        .btn-assign-manager {
            background-color: #17a2b8; /* Professional color */
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            padding: 6px 12px; /* Adjusted padding to reduce height */
            border: none;
            border-radius: 4px;
            font-size: 12px;
        }

            .btn-assign-manager:hover {
                background-color: #117a8b; /* Darker shade on hover */
            }
    </style>
</head>
<body>

    <div class="client-container">
        <div class="heading">
            <div>
                <span>Client Details</span>
            </div>
            <div>
                @if (Model.Deal != null)
                {
                    <a asp-action="Details" asp-controller="Deals" asp-route-id="@Model.Deal.deal_id" class="btn btn-custom btn-sm btn-primary ml-2 mr-20" style="background-color: #008094;">
                        <i class="fas fa-eye mr-1" style="font-size: 12px;"></i><span style="font-size: 12px; color: white;">View Deal</span>
                    </a>
                }
                else
                {
                    <a asp-action="Create" asp-controller="Deals" asp-route-id="@Model.ClientID" class="btn btn-custom btn-sm btn-primary ml-2" style="background-color: #008094;">
                        <i class="fas fa-plus mr-1" style="font-size: 12px;"></i><span style="font-size: 12px; color: white;">Add Deal</span>
                    </a>
                }
            </div>
        </div>
        <hr />

        <div class="company-name">
            <h6>Company Name: <span>@Model.OrganizationName</span></h6>
        </div>

        <div class="client-info">
            <dl class="row">
                <dt class="col-sm-2">Client Id:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.ClientID)</dd>
                <dt class="col-sm-2">Client Name:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.ClientName)</dd>
                <dt class="col-sm-2">Assigned Manager:</dt>
                <dd class="col-sm-10">
                    @if (ViewBag.AssignedManager == null)
                    {
                        <a asp-action="ManagerAssign" asp-route-id=@Model.ClientID class="btn btn-sm btn-assign-manager">Assign Manager</a>
                    }
                    else
                    {
                        @ViewBag.AssignedManager
                    }
                </dd>
                <dt class="col-sm-2">Date:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Date)</dd>
                <dt class="col-sm-2">Subject:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Subject)</dd>
                <dt class="col-sm-2">Organization:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.OrganizationName)</dd>
                <dt class="col-sm-2">Mobile No:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.MobileNumber)</dd>
                <dt class="col-sm-2">Email:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Email)</dd>
                <dt class="col-sm-2">Source:</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Source.SourceName)</dd>
                <dt class="col-sm-2">Client Status:</dt>
                <dd class="col-sm-10 stage">
                    <span class="@stageClass text-white">
                        @Html.DisplayFor(model => model.ClientStatus.StageName)
                    </span>
                </dd>
                <dt class="col-sm-2">Client Activity:</dt>
                <dd class="col-sm-10 activity">
                    <a asp-action="Create" asp-controller="ClientActivities" asp-route-id="@Model.ClientID" class="btn btn-custom btn-primary">
                        <i class="fas fa-plus mr-1"></i>Add
                    </a>
                    <a asp-action="ActivityByClientId" asp-controller="ClientActivities" asp-route-id="@Model.ClientID" class="btn btn-custom btn-primary">
                        <i class="fas fa-eye mr-1"></i>View
                    </a>
                </dd>
            </dl>
        </div>
        <div class="actions">
            <a asp-action="Edit" asp-route-id="@Model?.ClientID" class="btn btn-custom btn-sm btn-primary action-button" style="background-color: #008094;">
                <i class="fas fa-edit mr-1" style="font-size: 12px;"></i><span style="font-size: 12px;">Edit</span>
            </a>
            <a asp-action="Index" class="btn btn-custom btn-sm btn-secondary ml-2 action-button" style="background-color: #6c757d;">
                <i class="fas fa-list mr-1" style="font-size: 12px;"></i><span style="font-size: 12px;">Back to List</span>
            </a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
