@model IEnumerable<CRM.Models.Communication>

@{
    ViewData["Title"] = "Index";
}




<table  id="myTable" class="table table-bordered table-striped">
    <thead class="bg-dark text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lead)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="client">
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lead.LeadID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CommunicationID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CommunicationID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CommunicationID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();

        });
    </script>
}