@model CRM.Models.ClientActivity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClientActivity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activity_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activity_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activity_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activity_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activity_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activity_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.clientActivityID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
