@model IEnumerable<CRM.Models.Deal>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["AlertMessage"] != null)
{
    <div class="custom-alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        @TempData["AlertMessage"]
    </div>
}
<style>
    .table td {
        padding: 4px;
    }

    body {
        background: radial-gradient(rgba(0, 0, 0, 0.2), transparent);
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    .text-black {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: black;
    }

    .table th {
        font-family: Arial, sans-serif !important;
        font-size: 12px !important;
        font-weight: bold !important;
        color: black !important;
    }

    .table td {
        font-family: Arial, sans-serif !important;
        font-size: 12px !important;
        color: black !important;
    }

    .table-container {
        margin-top: 0;
        background-color: whitesmoke;
        padding: 20px;
        border-radius: 13px;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden;
    }

    h3 {
        font-family: Arial, sans-serif;
        font-size: 28px;
        font-weight: bold;
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }

    .main-content {
        margin-top: 65px !important;
    }
</style>

<div class="table-container">

    <div class="d-flex justify-content-between">
        <h6>Deal List</h6>
        <a asp-controller="Client" asp-action="Create" class="btn btn-sm bg-danger text-white" title="Details">
            Add New Client
        </a>
      


    </div>
    
    </hr>

    <div class="table-responsive">
        <table id="myTable" class="table">
            <thead class="text-black">
                <tr>
                    <th>Deal Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Total Amount</th>
                    <th>Amount Received</th>
                    <th>Pending Amount</th>
                    <th>Closing Date</th>
                    <th>Description</th>
                    <th>Product Name</th>
                    <th>Client ID</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="client">
                        <td>@Html.DisplayFor(modelItem => item.deal_name)</td>
                        <td>@Html.DisplayFor(modelItem => item.deal_description)</td>
                        <td>@Html.DisplayFor(modelItem => item.deal_date)</td>
                        <td>@Html.DisplayFor(modelItem => item.Total_Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.amount_received)</td>
                        <td>@Html.DisplayFor(modelItem => item.pending_amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.closing_date)</td>
                        <td>@Html.DisplayFor(modelItem => item.description)</td>
                        <td>@Html.DisplayFor(modelItem => item.product_name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Client.ClientID)</td>
                        <td>
                            <div class="btn-group" role="group">
                              
                                <a asp-action="Details" asp-route-id="@item.deal_id" class="btn"><i class="fas fa-eye"></i> Details</a>
                                
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
