@model CRM.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deal.deal_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Transaction_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
